<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace="fragments :: site-logo"></div>
<h3 th:text="${title}">Default Title</h3>
<nav th:replace="fragments :: navigation"></nav>

<div class="mx-auto">
    <h4>Sample Subject</h4>
    <p th:text="${name}"></p>
    <p th:text="${color}"></p>
</div>

<a href="/subject/add">Add Subject</a> |
<a href="/subject/remove">Remove Subject</a>

</body>
</html>