<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Brainbow</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body class="container">

    <div th:fragment="site-logo">
        <h2 class="text-center">
            Brainbow
            <br />
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Noto_Project_Rainbow_Emoji.svg/1000px-Noto_Project_Rainbow_Emoji.svg.png"
                 class="center-block" height="150em" width="150em" alt="Brainbow"/>
        </h2>
    </div>

    <nav th:fragment="navigation">
        <a href="/brainbow">Home</a> |
        <a href="/brainbow/about">About</a> |
        <a href="/brainbow/subject">Subjects</a> |
        <a href="/brainbow/log">Log</a>
    </nav>

</body>
</html>