<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<img th:replace="fragments :: site-logo" />
<h3 th:text="${title}">Default Title</h3>
<nav th:replace="fragments :: navigation"></nav>

<div>
    <p>
        Brainbow is a visual representation of relative time spent on different tasks.
    </p>
    <p>
         By understanding how past time has been allocated, users can better plan
        how to allocate future time.
    </p>
</div>

</body>
</html>