<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace="fragments :: site-logo"></div>
<h3 th:text="${title}">Default Title</h3>
<nav th:replace="fragments :: navigation"></nav>

<!-- TODO: clean up this junktastic HTML -->
<div align="center">
    <p>
        Brainbow is a visual representation of relative time spent on different tasks.
        <br/>
         By understanding how past time has been allocated, users can better plan
        how to allocate future time.
    </p>
    <a href="https://github.com/JeannieFallon/brainbow">See project on GitHub</a>
</div>

</body>
</html>