<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace="fragments :: site-logo"></div>
<h3 th:text="${title}">Default Title</h3>
<nav th:replace="fragments :: navigation"></nav>


<table class="table">
    <tr>
        <th>Subject</th>
        <th>Color</th>
        <th>Time</th>
    </tr>
    <tr th:each="subject : ${subjects}">
        <td th:text="${subject.name}"></td>
        <td th:text="${subject.color}"></td>
        <td th:text="${subject.time}"></td>
    </tr>

</table>

<h2>Log Time</h2>
<!--
<form method="post" style="max-width:700px;">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" id="name-field" type="text" name="name" th:value="${cheese.name}"/>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input class="form-control" id="desc-field" type="text" name="description" th:value="${cheese.description}"/>
    </div>
    <div class="form-group">
        <label th:for="type">Type</label>
        <select name="cheeseType">
            <option th:each="cheeseType : ${cheeseTypes}"
                    th:text="${cheeseType.name}"
                    th:value="${cheeseType}">
            </option>
        </select>
    </div>
    <input type="submit" value="Edit Cheese" />
    <input type="hidden" th:value="${cheese.cheeseId}" name="cheeseId" />
</form>

-->

</body>
</html>
