<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace="fragments :: site-logo"></div>
<h3 th:text="${title}">Default Title</h3>
<nav th:replace="fragments :: navigation"></nav>



<!--TODO: create Brainbow graphic based on relative size of time field -->
<div th:if="${subjects.size()} > 0">
    <table class="table">
        <tr>
            <th>Subject</th>
            <th>Color</th>
            <th>Time</th>
        </tr>
        <tr th:each="subject : ${subjects}">
            <td th:text="${subject.name}"></td>
            <td th:text="${subject.color}"></td>
            <td th:text="${subject.time}"></td>
        </tr>
    </table>
    <div class="text-center">
        <p>Based on your recent work history, you should devote time to:</p>
        <ul class="list-unstyled" th:each="lowestTimeSubject : ${lowestTimeSubjects}">
            <!--TODO: figure out how to pass in subject's color for font color
                maybe something like: style="color:${lowestTimeSubject.getColor()};-->
            <em><li th:text="${lowestTimeSubject.name}" style="color:blue;"></li></em>
        </ul>
    </div>
</div>

<div th:unless="${subjects} and ${subjects.size()}" align="center">
    <p>Please add subjects to your Brainbow.</p>
    <a href="/brainbow/subject/add"><input class="btn btn-success" value="Add Subject" /></a>
</div>



</body>
</html>
