<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <div th:replace="fragments :: site-logo"></div>
    <h3 th:text="${title}">Default Title</h3>
    <nav th:replace="fragments :: navigation"></nav>
    <div th:if="${subjects.size()} > 0">
        <form method="post" style="max-width:400px;" th:object="${log}">

            <label th:for="ids">What subjects did you work on?</label>

            <div th:each="subject : ${subjects}" class="checkbox">
                <div class="col-md-6 col-md-offset-1">
                    <input type="checkbox" name="ids" th:value="${subject.id}" th:id="${subject.id}"/>
                    <label th:for="${subject.id}" th:text="${subject.name}"></label>
                </div>
            </div>

            <div class="form-group">
                <!--TODO: fix the placeholder on logTime input -->
                <label th:for="logTime">How long did you work for?</label>

                <input class="form-control" type="number"
                       th:field="*{timeToLog}" placeholder="Enter time in minutes." />

                <span th:errors="*{timeToLog}" class="error"></span>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Log worktime" />
            </div>

        </form>
        <p class="text-danger" th:text="${noCheckboxError}"></p>
    </div>
    <div th:replace="fragments :: no-subjects"></div>
</body>
</html>