<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <div th:replace="fragments :: site-logo"></div>
    <h3 th:text="${title}">Default Title</h3>
    <nav th:replace="fragments :: navigation"></nav>
    <div th:if="${subjects.size()} > 0">
        <form method="post" style="max-width:400px;" th:object="${logTime}">

            <label th:for="ids">What subjects did you work on?</label>

            <div th:each="subject : ${subjects}" class="checkbox">
                <div class="col-md-6 col-md-offset-1">
                    <input type="checkbox" name="ids" th:value="${subject.id}" th:id="${subject.id}"/>
                    <label th:for="${subject.id}" th:text="${subject.name}"></label>
                </div>
            </div>
            <div class="form-group">
                <!--This is junk html, but I'm sick of messing around with spacing right now
                    TODO: fix this hardcoded linebreak abomination-->
                <p><br/><br/></p>
                <label th:for="logTime">How long did you work for?</label>
                <input class="form-control" th:field="*{timeToLog}" type="number" name="logTime"/>
                <span th:errors="*{timeToLog}" class="error"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Log worktime" />
            </div>
        </form>
    </div>
    <div th:replace="fragments :: no-subjects"></div>
</body>
</html>