<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace="fragments :: site-logo"></div>
<h3 th:text="${title}">Default Title</h3>
<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div class="form-group">
        <label th:for="subjectId">Choose subject</label>
        <br />
        <select name="subjectId">
            <option th:each="subject : ${subjects}"
                    th:text="${subject.name}"
                    th:value="${subject.id}">
            </option>
        </select>

        <br />

        <label th:for="time">Enter minutes</label>
        <input class="form-control" type="text" name="time" />

        <input type="submit" value="Add Time" />
        <!--<input type="hidden" th:value="${subject.id}" name="subject" /> -->
    </div>


</form>

</body>
</html>