<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <div th:replace="fragments :: site-logo"></div>
    <h3 th:text="${title}">Default Title</h3>
    <nav th:replace="fragments :: navigation"></nav>


    <form method="post">
        <div class="container">
            <div th:each="subject : ${subjects}" class="checkbox">
                <input type="checkbox" name="ids" th:value="${subject.id}" th:id="${subject.id}"/>
                <label th:for="${subject.id}" th:text="${subject.name}"></label>
                <br />
            </div>
        </div>
        <div th:if="${subjects.size()} > 0">
            <input type="submit" class="btn btn-danger" value="Remove Subject" />
        </div>
    </form>

    <div th:replace="fragments :: no-subjects"></div>
</body>
</html>